<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <!--<add verb="GET,HEAD,POST" path="MobileListener.axd" type="Driver_Behavior" validate="false"/>-->
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Driver_behavior" preCondition="integratedMode" verb="GET,HEAD,POST" resourceType="Unspecified" path="Driver_Behavior.axd" type="Driver_Behavior"/>
    </handlers>
  </system.webServer>
</configuration>